<h1><a href="/">Let's go back home</a></h1>

<h1>User:  <%= message.user %></h1>
<h2>Message: <%= message.text %></h2>
<h3>Added: <%= message.added %> </h3>


<h1><a href="/new">Create a new Message</a></h1>